@import './var-color.scss';
@import './var-icon.scss';
@import './var-variable.scss';

//Style font
body {
    font-size: 14px;
    font-family: GoogleSans-Regular,sans-serif;
}
.f-logo {
    font-size: 24px;
    font-weight: bold;
    font-family: sans-serif;
}
.f-title {
    font-size: 20px;
    font-family: GoogleSans-Bold,sans-serif;
}
.f-caption {
    font-size: 16px;
    font-family: GoogleSans-Medium,sans-serif;
}
.f-text {
    font-size: 14px;
}
.f-bold{
    font-weight: 700;
    font-family: GoogleSans-Bold,sans-serif;
}
.f-medium{
    font-family: GoogleSans-Medium,sans-serif;
}
//End

.flex {
    display: flex;
}

.align-center{
    align-items: center;
}

//css chung
.pointer{
    cursor: pointer;
}

//margin, padding
.m-l-2 {
    margin-left: 2px;
}

.m-r-2 {
    margin-right: 2px;
}

.m-r-8 {
    margin-right: 8px;
}

.m-r-12 {
    margin-right: 12px;
}

.m-r-24 {
    margin-right: 24px;
}